* {
  margin: 0;
  font-size: 16px;
}

:root {
  --text_color: #6b6b6b;
  --main_color: #1db3b4;
  --alt_color: rgba(28, 80, 156, 1);
  --white_color: rgba(255, 255, 255, 1);

  --btn_hover: rgba(28, 79, 156, 0.486);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--main_color);
}

h1 {
  font-size: 3.1rem;
  line-height: 4.1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 200;
}

p,
button {
  font-family: "Lato", sans-serif;
  color: var(--text_color);
}

.big_text {
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.normal_text {
  font-size: 1rem;
  line-height: 1.4rem;
}
